openai
python-dotenv
flask
flask_cors
pinecone
pypdf
pytesseract
pdf2image
Pillow
cryptography
cohere>=5.12.0
langchain
langchain-core
langchain-cohere
langchain-community
streamlit
llama-index
llama-index-experimental
pandas